/test/example
/test/test
/test/example.dSYM
/test/test.dSYM
Mac/BitcoinSpoon.xcodeproj/project.xcworkspace/xcuserdata
/Mac/BitcoinSpoon.xcodeproj/xcuserdata
/libraries/objects/__.SYMDEF SORTED
/Untitled.xcworkspace/xcuserdata
libraries/secp256k1/src/*.o.tmp
code/objects/*.o.tmp
